@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/lalezar/v12/zrfl0HLVx-HwTP82UaA.ttf")
    format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  font-family: "Lalezar", cursive;
  color: #fff;
}

button,
input,
textarea {
  font-family: inherit;
}

@import "./variables";
@import "./buttons";
@import "./app";

.main-wrapper {
  display: flex;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 400px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}
.sphere-wrapper {
  transform-style: preserve-3d;
  width: 350px;
  height: 350px;
  position: relative;
  animation: rotate3d 20s linear infinite;
}
.plane {
  position: absolute;
  transform-style: preserve-3d;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 10px 20px rgba($color: #fff, $alpha: 0.2);
  border-radius: 50%;
}
.spoke {
  transform-origin: 0 0;
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 175px;
  width: 0px;
}
.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  left: -7.5px;
  top: 100%;
  border-radius: 50%;
  text-align: center;
  line-height: 1rem;
  color: #000;
}
.spoke.spoke-1 {
  transform: rotateZ(10deg);
}
.spoke.spoke-2 {
  transform: rotateZ(20deg);
}
.spoke.spoke-3 {
  transform: rotateZ(30deg);
}
.spoke.spoke-4 {
  transform: rotateZ(40deg);
}
.spoke.spoke-5 {
  transform: rotateZ(50deg);
}
.spoke.spoke-6 {
  transform: rotateZ(60deg);
}
.spoke.spoke-7 {
  transform: rotateZ(70deg);
}
.spoke.spoke-8 {
  transform: rotateZ(80deg);
}
.spoke.spoke-9 {
  transform: rotateZ(90deg);
}
.spoke.spoke-10 {
  transform: rotateZ(100deg);
}
.spoke.spoke-11 {
  transform: rotateZ(110deg);
}
.spoke.spoke-12 {
  transform: rotateZ(120deg);
}
.spoke.spoke-13 {
  transform: rotateZ(130deg);
}
.spoke.spoke-14 {
  transform: rotateZ(140deg);
}
.spoke.spoke-15 {
  transform: rotateZ(150deg);
}
.spoke.spoke-16 {
  transform: rotateZ(160deg);
}
.spoke.spoke-17 {
  transform: rotateZ(170deg);
}
.spoke.spoke-18 {
  transform: rotateZ(180deg);
}
.spoke.spoke-19 {
  transform: rotateZ(190deg);
}
.spoke.spoke-20 {
  transform: rotateZ(200deg);
}
.spoke.spoke-21 {
  transform: rotateZ(210deg);
}
.spoke.spoke-22 {
  transform: rotateZ(220deg);
}
.spoke.spoke-23 {
  transform: rotateZ(230deg);
}
.spoke.spoke-24 {
  transform: rotateZ(240deg);
}
.spoke.spoke-25 {
  transform: rotateZ(250deg);
}
.spoke.spoke-26 {
  transform: rotateZ(260deg);
}
.spoke.spoke-27 {
  transform: rotateZ(270deg);
}
.spoke.spoke-28 {
  transform: rotateZ(280deg);
}
.spoke.spoke-29 {
  transform: rotateZ(290deg);
}
.spoke.spoke-30 {
  transform: rotateZ(300deg);
}
.spoke.spoke-31 {
  transform: rotateZ(310deg);
}
.spoke.spoke-32 {
  transform: rotateZ(320deg);
}
.spoke.spoke-33 {
  transform: rotateZ(330deg);
}
.spoke.spoke-34 {
  transform: rotateZ(340deg);
}
.spoke.spoke-35 {
  transform: rotateZ(350deg);
}
.plane.plane-1 {
  transform: rotateY(18deg);
}
.plane.plane-2 {
  transform: rotateY(36deg);
}
.plane.plane-3 {
  transform: rotateY(54deg);
}
.plane.plane-4 {
  transform: rotateY(72deg);
}
.plane.plane-5 {
  transform: rotateY(90deg);
}
.plane.plane-6 {
  transform: rotateY(108deg);
}
.plane.plane-7 {
  transform: rotateY(126deg);
}
.plane.plane-8 {
  transform: rotateY(144deg);
}
.plane.plane-9 {
  transform: rotateY(162deg);
}
.spoke-0 .dot,
.spoke-36 .dot {
  animation: pulsate 1s infinite 0s alternate both;
  background-color: #ff9955;
}
.spoke-1 .dot,
.spoke-35 .dot {
  animation: pulsate 1s infinite 0.05555556s alternate both;
  background-color: #ffb555;
}
.spoke-2 .dot,
.spoke-34 .dot {
  animation: pulsate 1s infinite 0.11111111s alternate both;
  background-color: #ffd255;
}
.spoke-3 .dot,
.spoke-33 .dot {
  animation: pulsate 1s infinite 0.16666667s alternate both;
  background-color: #ffee55;
}
.spoke-4 .dot,
.spoke-32 .dot {
  animation: pulsate 1s infinite 0.22222222s alternate both;
  background-color: #f4ff55;
}
.spoke-5 .dot,
.spoke-31 .dot {
  animation: pulsate 1s infinite 0.27777778s alternate both;
  background-color: #d7ff55;
}
.spoke-6 .dot,
.spoke-30 .dot {
  animation: pulsate 1s infinite 0.33333333s alternate both;
  background-color: #bbff55;
}
.spoke-7 .dot,
.spoke-29 .dot {
  animation: pulsate 1s infinite 0.38888889s alternate both;
  background-color: #9fff55;
}
.spoke-8 .dot,
.spoke-28 .dot {
  animation: pulsate 1s infinite 0.44444444s alternate both;
  background-color: #82ff55;
}
.spoke-9 .dot,
.spoke-27 .dot {
  animation: pulsate 1s infinite 0.5s alternate both;
  background-color: #66ff55;
}
.spoke-10 .dot,
.spoke-26 .dot {
  animation: pulsate 1s infinite 0.55555556s alternate both;
  background-color: #55ff60;
}
.spoke-11 .dot,
.spoke-25 .dot {
  animation: pulsate 1s infinite 0.61111111s alternate both;
  background-color: #55ff7d;
}
.spoke-12 .dot,
.spoke-24 .dot {
  animation: pulsate 1s infinite 0.66666667s alternate both;
  background-color: #55ff99;
}
.spoke-13 .dot,
.spoke-23 .dot {
  animation: pulsate 1s infinite 0.72222222s alternate both;
  background-color: #55ffb5;
}
.spoke-14 .dot,
.spoke-22 .dot {
  animation: pulsate 1s infinite 0.77777778s alternate both;
  background-color: #55ffd2;
}
.spoke-15 .dot,
.spoke-21 .dot {
  animation: pulsate 1s infinite 0.83333333s alternate both;
  background-color: #55ffee;
}
.spoke-16 .dot,
.spoke-20 .dot {
  animation: pulsate 1s infinite 0.88888889s alternate both;
  background-color: #55f4ff;
}
.spoke-17 .dot,
.spoke-19 .dot {
  animation: pulsate 1s infinite 0.94444444s alternate both;
  background-color: #55d7ff;
}
.spoke-18 .dot,
.spoke-18 .dot {
  animation: pulsate 1s infinite 1s alternate both;
  background-color: #55bbff;
}
@keyframes rotate3d {
  0% {
    transform: rotate3d(0, 1, 1, 0deg);
  }
  15% {
    transform: rotate3d(0, 1, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 1, 1, 180deg);
  }
  90% {
    transform: rotate3d(0, 1, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 1, 1, 360deg);
  }
}
@keyframes pulsate {
  0% {
    transform: rotateX(90deg) scale(0.3) translateZ(20px) scaleX(-1);
  }
  100% {
    transform: rotateX(90deg) scale(1) translateZ(0px) scaleX(-1);
  }
}

@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  pointer-events: none;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc,
    -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7,
    758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke,
    183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3,
    158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb,
    719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4,
    870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4,
    414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3,
    641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
    727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0,
    -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2,
    755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
    359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc,
    74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
    -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
    -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
    -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke,
    -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0,
    839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
    170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
    808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
    -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2,
    -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6,
    392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
    98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}
